<% if true %>
<%= javascript_pack_tag 'main' %>
<% end %>

<% if true %>
<%= javascript_pack_tag 'mynav' %>
<% end %>

<br><br><br>

<% if false %>

<% if false %>
<%= javascript_pack_tag 'myscroll' %>
<% end %>

<% if true %>
<%= javascript_pack_tag 'myvideocarousel' %>
<% end %>

<% if true %>
<%= javascript_pack_tag 'mychart' %>
<% end %>

<% if true %>
<%= javascript_pack_tag 'myselfupdatechart' %>
<% end %>

<% if true %>
<%= javascript_pack_tag 'profiles' %>
<% end %>

<% if false %>
	<a href="#Shop" class="btn btn-warning my-2"><%= fa_icon "camera-retro fw" %> Bootstrap MD Button</a>
<% end %>

<% if true %>
<%= javascript_pack_tag 'main' %>
<% end %>

<% end %>

<div id="test">lalal</div>
<div id="toast">lalal</div>